# Rename this file to secret.[debug|release].properties and set values below.
# Do not commit the renamed file.

ledger.default-host=https://my-ledger.com
goauth-api-client-id=TODO

# Release only properties
keystore-path=TODO
keystore-password=TODO
keystore-key-alias=TODO
keystore-key-password=TODO
